.SearchResults{
    font-family: sans-serif;
    margin: 10px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    border-radius: 7px;
    /* height: 100%; */
    align-content: stretch;
    justify-content: space-around;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    padding: 10px;
}
.SearchResults h2{
    width: 95%;
    
    padding: 10px;
    text-align: center;
    margin:5px auto;
    border-radius: 7px ;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    background: rgba(250, 248, 241, 0.666);

}

.SearchResults ul {
    padding: 0px;
        /* display: inline-block;
    margin: 5px; */
/* background-color: red;     */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    border-radius: 7px;
    /* height: 100%; */
    /* align-content: stretch; */
    justify-content: space-evenly;
    width: 95%;
    margin: auto;
}

.EventItem{
    /* display: inline-block;
    margin: 5px; */
/* background-color: red;     */
/* display: flex;
flex-direction: column;
flex-wrap: wrap;
align-content: center;
border-radius: 7px;
justify-content: space-evenly;
width: 95%;
margin: auto; */
}

/* .EventItem:hover {
    transform: scale(1.1);
    background: linear-gradient(to top, white ,rgba(82, 82, 248, 0.571));
    border-radius: 7px;
} */

/* .EventItem__Container {
    width: 95%;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    align-items: center;
    position: relative;
    min-height: 200px;
} */

.EventItem{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    /* color: #2196f3; */
    /* text-transform: uppercase; */
    /* letter-spacing: 4px; */
    text-decoration: none;
    /* font-size: 24px; */
    overflow: hidden;
    transition: 0.2s;
    width: 100%;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0);
  }
  .EventItem:hover{
    color: #255784;
    /* background: #2196f3; */
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3;
    transition-delay: 1s;
    border-radius: 7px;
    transform: scale(1.05);
  }
  .EventItem span{
    position: absolute;
    display: block;
  }
  .EventItem span:nth-child(1)  {
    top: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg,transparent,red);
    box-shadow: 0 0 10px #2196f3;
  }
  .EventItem:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
  }
  .EventItem span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(270deg,transparent,red);
    box-shadow: 0 0 10px #2196f3 ;
  }
  .EventItem:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
  }
  .EventItem span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg,transparent,red);
    box-shadow: 0 0 10px #2196f3 ;
  }
  .EventItem:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
  }
  .EventItem span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(360deg,transparent,red);
    box-shadow: 0 0 10px #2196f3 ;
  }
  .EventItem:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
  }




.fa-heart {
    color:red;
}

