

.weatherbar{
    font-family: sans-serif;
    margin: 10px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    border-radius: 7px;
    /* height: 100%; */
    align-content: stretch;
    justify-content: space-around;
        text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    padding: 10px;
}

.weatherbar {
    text-align: center;
}

.weatherbar h2{
    width: 95%;
    
    padding: 10px;
    text-align: center;
    margin:0 auto;
    border-radius: 7px ;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    background: rgba(250, 248, 241, 0.666);

}

.weatherbar-header {
    text-align: center;
}

.weathericon {
    /* display: inline-block;
    margin: 5px; */
/* background-color: red;     */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    border-radius: 7px;
    /* height: 100%; */
    /* align-content: stretch; */
    justify-content: space-evenly;
    width: 95%;
    margin: auto;
}

.weathericon:hover {
    transform: scale(1.1);
    /* border: 3px blue  ;
    border-style: outset; */
    background: linear-gradient(to top, white ,rgba(82, 82, 248, 0.571));
    border-radius: 7px;
}

.weathericon-time {
    /* text-align: center; */
    margin: auto 0px;
}

.weathericon-icon {

    margin: -20px -3px;
    
}

.weathericon-temperature {
    text-align: center;
    margin: 0px;
    margin: auto 0px;
}

.high {
    color: darkred
}

.low {
    color: darkblue;
}

@media screen and (max-width:750px) {
    .EventsPage__form-section {
        width:80%; 
    }
    .EventsPage__checkbox__section input + label  {
        flex-basis:40%;
    }
}